header {
  background-color: #000421;
  display: flex;
  align-items: center;

  img {
    margin: 24px 36px 24px 60px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    
    li {
      display: flex;
      flex: 1;
      width: 100%;

      a {
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        padding: 20px;
      }
    }
  }

  .user{
    flex: 1;
    text-align: right;
    color: white;
  }
}
