.status-list {
  margin-bottom: 20px;

  .status-list-item {
    margin: 0 3x;
    border-bottom: 1px solid blue;
    display: flex;
    flex-direction: row;

    label.status-text {
      min-width: 100px;
    }

    span.status-emoji {
      flex: 1;
    }

    div.status-actions button {
      border: 1px solid blue;
      background: none;
      cursor: pointer;
    }
  }
}

.status-adder {
  label {
    display: inline-block;
    min-width: 100px;
  }
}
